html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.home {
  text-decoration: none;
  color: black;
}

nav {
  max-width: 350px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

main {
  padding: 75px 10px;
  margin: auto 50px;
}

.space {
  height: 100px;
  margin-bottom: 10px;
}

#img-div #img-caption img {
  width: 350px;
  max-width: 100%;
  min-width: 150px;
  display: block;
  margin: auto;
}

.description {
  text-align: center;
  display: block;
}

.guhit {
  width: 150px;
  height: 5px;
  background-color: rgba(145, 141, 141, 0.247);
  margin: auto;
  border-radius: 5px;
}

.t1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.t1 img {
  width: 350px;
  max-width: 350px;
  min-width: 150px;
}

.t1 .imgt1 {
  width: 350px;
}

h2 {
  text-align: center;
  border-bottom: 4px solid #dfdfe2;
  margin: auto;
  margin-bottom: 50px;
  width: 500px;
  padding: 100px 0 20px 0;
  font-size: 50px;
}
.gallery2 .figure-1-0 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(131, 0, 254, 1) 50%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(131, 0, 254, 1) 50%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(131, 0, 254, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8300fe",GradientType=1);
}
.gallery2 .figure-1-0 img {
  width: 350px;
  max-width: 350px;
  min-width: 150px;
}

.gallery2 .figure-1-0 p {
  width: 500px;
}

.gallery2 .figure-1-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  color: white;

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    -90deg,
    rgba(131, 0, 254, 1) 50% rgba(255, 255, 255, 1) 50%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgba(131, 0, 254, 1) 50% rgba(255, 255, 255, 1) 50%
  );
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(131, 0, 254, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8300fe",GradientType=1);
}
.gallery2 .figure-1-1 img {
  width: 350px;
  max-width: 350px;
  min-width: 150px;
}

.gallery2 .figure-1-1 p {
  width: 500px;
  text-align: right;
}

.t3 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.t3 .imgt3 {
  max-width: 500px;
  min-width: 150px;
  box-shadow: 2px 2px 100px 5px rgba(0, 0, 0, 0.1);
  height: 650px;
  border-radius: 10px;
}

.t3 .imgt3 p {
  max-width: 500px;
  min-width: 150px;
}

.gallery3 .t3 img {
  width: 350px;
  max-width: 350px;
  min-width: 150px;
}

#more {
  display: none;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#tribute-info {
  text-align: center;
}

#tribute-info a {
  text-align: center;
  text-decoration: wavy;
}
