@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: white;
  color: black;
}

header {
  display: inline-block;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 5000;
  padding: 25px 80px;
}

.header-logo {
  float: left;
  width: 130px;
  height: 50px;
}

.header-img {
  width: 100%;
  height: 100%;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 15px 25px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: inherit;
  font-size: 20px;
  position: relative;
}

.fa-bars {
  display: none;
}

a:webkit-any-link {
  cursor: pointer;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #ef7300;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

.main-section {
  padding-top: 150px;
  width: 1020px;
  margin: auto;
  position: relative;
}

.main-section .main_head {
  font-family: "Urbanist", sans-serif;
  font-size: 70px;
  font-weight: lighter;
  padding-bottom: 45px;
}

.container_a {
  height: 550px;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_a .c_a_section_img img {
  height: 100%;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container_b {
  height: 250px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-top: -110px;
  margin-left: 120px;
}

.container_b .c_b_section_sub_con {
  height: 200px;
  width: 200px;
  padding: 0 20px;
  padding-top: 25px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container_b .icon_sub {
  margin: auto;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef7300;
  border-radius: 50%;
}

.fa-solar-panel,
.fa-bolt,
.fa-house,
.fa-plug {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.container_b p {
  padding-top: 20px;
  font-family: inherit;
}

.button_con {
  text-align: center;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #ef7300;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.container_c {
  height: 600px;
  width: 1020px;
  margin-top: 30px;
  display: flex;
  position: relative;
}

.container_c .c_c_row_section_text {
  width: 363px;
  height: 396px;
  background-color: white;
  border-radius: 5px;
  margin-top: auto;
}
.container_c h2 {
  padding: 140px 30px 40px 30px;
  align-items: center;
  font-weight: 300;
}

.container_c p {
  padding: 0 30px 40px 30px;
  align-items: center;
  font-weight: 350;
}

.container_c .c_c_row_section_right {
  width: 627px;
  height: 495px;
  margin-left: -40px;
  margin-top: 55px;
}

.container_c .c_c_row_section_right img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.container_c .bg_color {
  width: 500px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #ef7300;
  z-index: -2;
}

.container_d {
  display: flex;
  height: 520px;
  padding-top: 65px;
  text-align: center;
}

.container_d .c_d_section_all {
  margin: auto;
  padding: 20px;
  width: 320px;
}

.container_d .c_d_headings {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.container_d .c_d_sub_head {
  padding: 10px 0;
}

.c_d_sub_head h2 {
  padding: 10px 0;
  font-weight: 400;
}

.container_d .c_d_context {
  padding: 20px;
  font-weight: 350;
}

.d_more {
  box-shadow: inset 0 0 0 0 #ef7300;
  color: #ef7300;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.d_more:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ef7300;
}

.d_more {
  color: #ef7300;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: underline;
}

.container_e {
  margin: auto;
  height: 580px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_e .e_img {
  height: 100%;
  width: 100%;
  background-image: url("https://www.easysolar.com.au/wp-content/uploads/2020/03/commercial-solar-guide-header-770x437.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container_e .e_bg_color {
  background-color: #ef7300;
  height: 100%;
  width: 100%;
}

.e_img::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
}

.e_head {
  color: white;
  width: 100%;
  position: absolute;
  margin-top: 70px;
}

.container_e .e_header {
  text-align: center;
  font-weight: 350;
  font-size: 75px;
  font-family: inherit;
}

.e_content {
  margin-top: 220px;
  height: 50vh;
  width: 1200px;
  padding: 0 120px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.e_context {
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.e_con_headings {
  margin-top: 10px;
}

.e_c_h_head {
  font-size: 35px;
  color: white;
  font-weight: 300;
  font-style: inherit;
  text-shadow: 1px 1px black;
}

.e_list {
  padding-left: 15px;
}

.e_list .e_benefits_list {
  padding: 5px 0;
  list-style-position: inside;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.e_benefits .e_benefits_list:before {
  content: "✓";
  font-weight: bold;
  padding-right: 10px;
}

.container_f {
  width: 100%;
}

.colour-block {
  background: #ef7300;
  width: 100%;
  padding: 7% 20% 7% 20%;
  color: white;
}
.white-block {
  background: white;
  padding: 7% 10% 0 10%;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skew_2nd_section {
  display: flex;
  width: 1025px;
}

.skew_right_section {
  height: 450px;
  width: 450px;
  margin-left: auto;
  padding: 25px 30px;
  z-index: 100;
  border-radius: 5px;
  border: 2px solid rgba(239, 115, 0, 0.7);
  box-shadow: rgba(239, 115, 0, 0.5) 5px 5px, rgba(239, 115, 0, 0.3) 10px 10px,
    rgba(239, 115, 0, 0.2) 15px 15px, rgba(239, 115, 0, 0.1) 20px 20px,
    rgba(239, 115, 0, 0.05) 25px 25px;
}

.s_k_headings {
  color: #ef7300;
  font-style: inherit;
  font-weight: bold;
  text-align: center;
  width: 75px;
  font-size: 18px;
}

.skew_right_content {
  font-family: inherit;
  font-size: 40px;
  padding-top: 15px;
  color: #422000;
}

.skew_left_section {
  height: 450px;
  width: 550px;
  padding: 55px 30px;
  justify-content: center;
}

.container_all_count {
  width: 600px;
  margin-left: -80px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.counting_container {
  margin-top: 50px;
  width: 180px;
  height: 250px;
}

.counting_numbers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numb {
  font-style: inherit;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  color: #ef7300;
  width: 50%;
}

.percent {
  font-style: inherit;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  color: #ef7300;
  margin-left: -5px;
}

.c_n_context {
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  color: #363636;
  text-align: center;
}

.s_l_head {
  width: 600px;
  margin-left: -80px;
}

.s_l_headings {
  font-style: inherit;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.skew_headings {
  text-align: center;
  font-size: 60px;
  font-family: inherit;
  font-weight: 500;
  margin-top: 75px;
}
.skew_context {
  margin-top: 10px;
  font-size: 20px;
  font-family: inherit;
  font-weight: 300;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #ef7300 49%, #fff 50%),
    linear-gradient(-50deg, #ffffff 16px, #ef7300 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, #ef7300 50%);
}

.button_skew_con {
  margin-top: 25px;
  text-align: center;
}

.button_skew {
  appearance: none;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ef7300;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform;
}

.button_skew:disabled {
  pointer-events: none;
}

.button_skew:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_skew:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-28 {
  appearance: none;
  background-color: floralwhite;
  border: 2px solid #ef7300;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ef7300;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.1, 1, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #ef7300;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#team {
  margin-top: 200px;
  padding-bottom: 60px;
}

.container_g {
  width: 100%;
  height: 550px;
  margin-top: -90px;
}

.our_team {
  margin: auto;
  width: 1100px;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 90px;
  align-items: center;
  justify-content: center;
}

.team_info {
  height: 100%;
  width: 320px;
  background-color: #fff;
  border-radius: 5px;
}

.info_img {
  height: 240px;
  width: 240px;
  margin: 30px auto;
  border-radius: 5px;
}

.img_1 {
  width: 100%;
  height: 100%;
  filter: grayscale(75%);
}

.info_name {
  width: 100%;
  height: 40px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  font-size: 20px;
}

.info_position {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.position {
  text-transform: lowercase;
  font-family: cursive;
  font-weight: bolder;
  font-size: 16px;
  color: #612f00;
}

.info_details {
  width: 100%;
  height: 210px;
}

.details {
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-weight: 300;
}

.social_icon_team {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin: auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 60px;
  width: 100%;
  align-items: center;
}

/* Icons */

.icon {
  color: #fff;
  background: #ef7300;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  margin: 0 10px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.icon:hover {
  background: #fff;
  border: 2px solid #ef7300;
  color: #ef7300;
}

/* pop-up text */

.icon .icon_name {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.icon .icon_name:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ef7300;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

.icon:hover .icon_name {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */

.icon:nth-of-type(1):before {
  content: "\f09a";
}
.icon:nth-of-type(2):before {
  content: "\f099";
}
.icon:nth-of-type(3):before {
  content: "\f0d5";
}
.icon:nth-of-type(4):before {
  content: "\f113";
}

.contact_container {
  width: 100%;
  height: 700px;
  margin-top: 180px;
}

.contact_info {
  border: 1px solid bla;
  margin: auto;
  height: 100%;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact_img {
  height: 100%;
  width: 100%;
}

.contact_image {
  width: 100%;
  height: 100%;
}

.contact_form {
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  background: white;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
}
.contact_head {
  margin: 10px 0;
  padding-bottom: 5px;
  width: 100%;
  font-size: 50px;
  font-family: cursive;
  color: black;
  text-align: center;
}
.name_,
.email,
.message_inp {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: inherit;
  font-size: 17px;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.message_inp {
  height: 200px;
}
input:focus {
  border-bottom: 2px solid #000000;
}
textarea:focus {
  border-bottom: 2px solid #000000;
}

.label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 20px;
  color: black;
}
.send_message {
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: inherit;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  height: 50px;
  font-size: large;
}
.send_message:hover {
  background: #271e17;
  color: #fff;
}

.inline {
  margin: 20px;
}

footer {
  margin-top: 25px;
  background-color: #ef7300;
  width: 100%;
  height: 300px;
}

.footer_container {
  padding-top: 30px;
  height: 100%;
  width: 1150px;
  margin: auto;
  display: flex;
  position: relative;
}

.left_foot {
  height: 100%;
  width: 650px;
}

.footer_header {
  font-family: inherit;
  color: white;
  letter-spacing: 8px;
  font-size: 40px;
}

.footer_text {
  margin: 15px 0;
  font-family: inherit;
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 300;
}

.button_foot {
  appearance: none;
  background-color: floralwhite;
  border: 2px solid #ef7300;
  box-sizing: border-box;
  color: #ef7300;
  cursor: pointer;
  font-family: cursive, Courier, monospace;
  font-size: 20px;
  font-weight: 5 00;
  line-height: normal;
  outline: none;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.1, 1, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 330px;
  will-change: transform;
}

.button_foot:disabled {
  pointer-events: none;
}

.button_foot:hover {
  color: #fff;
  background-color: #ef7300;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_foot:active {
  box-shadow: none;
  transform: translateY(0);
}

.right_foot {
  height: 100%;
  width: 550px;
  right: 100%;
}

.other_contact_footer {
  width: 100%;
  height: 180px;
  padding-top: 50px;
}

.other_contact_icon_footer {
  width: 100%;
  height: 66px;
  padding: 0 60px;
}

.footer_info {
  padding: 10px 70px 10px 70px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  color: #582b00;
}

.info_spacing {
  margin-right: 65px;
  color: white;
}
.info_spacing2 {
  margin-right: 60px;
  color: white;
}

.info_spacing3 {
  margin-right: 45px;
  color: white;
}

.footer_icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 2rem;
}

.footer_icon li {
  padding: 1rem;
}

.footer_icon li a {
  text-align: center;
  margin-bottom: 2rem;
  color: #eee;
}

.fab {
  font-size: 2rem;
}

/* transition for social icon hover animation */
.fa-facebook,
.fa-codepen,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
  transform: scale(1.1);
}

.fa-youtube:hover,
.fa-youtube:focus {
  color: #df2426;
  transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-codepen:hover,
.fa-codepen:focus {
  color: #000;
  transform: scale(1.1);
}

@media only screen and (max-width: 2560px) {
  .header-icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-color: white;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    display: none;
  }

  .header-logo {
    margin-left: -60px;
    margin-top: auto;
    width: 90px;
    height: 40px;
  }

  .header-icon {
    display: inline-block;
    font-size: 25px;
    margin-top: 6px;
    position: absolute;
    margin-left: 280px;
  }

  .show {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 375px) {
  nav {
    display: none;
  }

  .header-logo {
    margin-left: -60px;
    margin-top: auto;
    width: 80px;
    height: 40px;
  }

  .header-icon {
    display: inline-block;
    font-size: 25px;
    margin-top: 6px;
    position: absolute;
    margin-left: 230px;
  }

  .show {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    display: none;
  }

  .header-logo {
    margin-left: -60px;
    margin-top: auto;
    width: 80px;
    height: 40px;
  }

  .header-icon {
    display: inline-block;
    font-size: 25px;
    margin-top: 6px;
    position: absolute;
    margin-left: 230px;
  }

  .show {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    display: none;
  }

  .header-logo {
    margin-left: -60px;
    margin-top: auto;
    width: 70px;
    height: 30px;
  }

  .header-icon {
    display: inline-block;
    font-size: 22px;
    margin-top: 3px;
    position: absolute;
    margin-left: 180px;
  }

  .show {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
    color: white;
    text-align: center;
    box-sizing: border-box;
  }

  .link-hover {
    font-size: 18px;
    width: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-logo {
    margin-left: -50px;
  }

  .navbar {
    margin-right: -50px;
  }

  .navbar .navbar-list .link-hover {
    font-size: 18px;
  }

  .main-section {
    width: auto;
    margin: auto;
  }

  .main-section .main_head {
    padding-left: 78px;
    font-size: 60px;
  }

  .container_a {
    margin-left: 80px;
    width: 720px;
    height: 100%;
  }

  .container_b {
    margin-left: 220px;
    width: 70%;
    height: 150px;
  }

  .container_b .c_b_section_sub_con {
    width: 20%;
    height: 100%;
  }

  .container_b .icon_sub {
    margin-top: -5px;
    height: 40%;
    width: 50%;
  }

  .container_b .icon_sub .fa-solid {
    font-size: 30px;
  }

  .container_b .c_b_section_sub_con p {
    margin-top: -10px;
    font-size: 0.87rem;
  }

  .container_c {
    margin: 70px auto 0;
    width: 84%;
    height: 500px;
  }

  .container_c .c_c_row_section_text {
    width: 40%;
    height: 80%;
  }

  .container_c .c_c_row_section_right img {
    height: 80%;
    width: 90%;
  }

  .container_d {
    margin-top: -30px;
    font-size: 90%;
    padding: 80px;
  }

  .container_d .c_d_sub_head {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
  }
  .container_d a {
    font-size: 17px;
  }

  .container_e {
    width: auto;
    height: 470px;
  }

  .container_e .e_content {
    width: 100%;
  }

  .e_head .e_header {
    font-size: 60px;
    width: auto;
  }
  .e_content {
    margin-top: 180px;
    height: 100%;
    width: auto;
  }

  .e_con_headings .e_c_h_head {
    font-size: 25px;
  }

  .e_list .e_benefits .e_benefits_list {
    font-size: 18px;
  }

  .container_f {
    width: auto;
  }

  .container_f .skew_headings {
    font-size: 50px;
  }

  .container_f .skew_context {
    padding-top: 10px;
    font-size: 18px;
  }
  .white-block {
    height: 450px;
  }

  .skew_c {
    width: auto;
  }

  .skew_cc {
    width: auto;
  }
  .skew_2nd_section {
    margin: auto;
    width: 850px;
    height: 100%;
  }

  .s_l_head {
    width: 500px;
    margin-left: -30px;
  }

  .s_l_head .s_l_headings {
    font-size: 19px;
  }

  .container_all_count {
    width: 550px;
    margin-left: -55px;
  }

  .numb,
  .percent {
    font-size: 60px;
  }

  .c_n_context {
    font-size: 15px;
  }

  .skew_right_section {
    height: 400px;
  }

  .skew_right_content {
    font-size: 33px;
  }

  .container_g {
    height: auto;
  }

  .our_team {
    width: 80%;
    height: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }

  .team_info {
    width: 80%;
    height: 550px;
    margin: auto;
  }

  .info_img {
    width: 75%;
    height: auto;
  }

  .info_name .name {
    font-size: 17px;
  }

  .info_details .details {
    font-size: 15px;
  }

  .social_icon_team {
    margin-top: -50px;
    width: 90%;
    height: 80%;
    margin-right: 100px;
  }

  .social_icon_team .icon_name {
    font-size: 12px;
  }

  .contact_container {
    width: 100%;
    margin-top: 40px;
    height: auto;
  }

  .contact_info {
    height: 700px;
    width: auto;
  }

  .contact_image {
    height: 100%;
    position: relative;
  }

  footer {
    height: auto;
    width: 100%;
  }

  .footer_container {
    width: 100%;
    height: auto;
  }

  .left_foot {
    margin-left: 40px;
  }

  .footer_header {
    font-size: 30px;
  }

  .footer_text {
    font-size: 15px;
  }

  .footer_container .button_foot {
    width: 250px;
    font-size: 18px;
  }

  .footer_container .right_foot {
    margin-top: -20px;
  }
  .footer_info,
  .info_spacing,
  .info_spacing2,
  .info_spacing3 {
    font-size: 15px;
    padding-right: 0;
    padding-left: 20px;
  }

  .other_contact_icon_footer {
    font-size: 5rem;
    width: auto;
  }

  .footer_icon li {
    padding: 0;
  }

  .footer_icon li a {
    text-align: center;
    color: #eee;
  }

  .fab {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: auto;
  }

  main {
    width: auto;
  }

  .main-section {
    width: 650px;
  }

  .head-context {
    margin-top: -20px;
  }

  .head-context .main_head {
    font-size: 45px;
    padding: 0;
  }

  .container_a {
    margin: 25px 0 auto;
    width: 100%;
  }

  .container_b {
    margin: -100px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    width: 380px;
    height: auto;
  }
  .container_b .c_b_section_sub_con {
    width: 170px;
    height: 170px;
  }

  .container_b .c_b_section_sub_con p {
    font-size: 15px;
  }

  .container_c {
    margin-top: 160px;
    width: 80%;
  }

  .container_c .c_c_row_section_right {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
  }

  .container_c .c_c_row_section_right img {
    margin: 25px auto;
  }

  .container_c .c_c_row_section_text {
    margin: 230px auto 0 auto;
    padding: 0;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 15%;
  }

  .container_c .c_c_row_section_text h2 {
    padding: 30px;
  }

  .button_con {
    margin: -20px auto;
  }

  .container_c .bg_color {
    width: 100%;
  }

  .container_d {
    padding: 0;
    margin-top: 1px;
  }

  .container_d .c_d_section_all {
    padding: 0;
  }
}
